/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  
  /* for a better user experience you want to stop your screen to keep growing
   and then max-width comes handy in that case */
  max-width: 750px;
  margin: 0 auto;

  padding: 2em;
  /* height: 300px; */
}

.intro-content {
  width: 50%;
  margin: 0 auto;
}

/* learning - html is by default responsive, it's us who write non responsive css */